:root {
	--first-text-color: #212121;
	--second-text-color:#2196F3;
	--third-text-color: #757575;
	--four-text-color:  #F5F4FA;
  }

a {
	text-decoration: none;
}

ul {
	list-style:none;
	padding: 0;
	margin: 0;
}

body footer{
	font-family: 'Roboto', sans-serif;
	color: var(--first-text-color);
}

.container{
	width: 1600px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
	outline: 1px solid black;
}
  /* Site nav */

.header-container{
	display: flex;
	align-items: center;
}

.site-nav{
	margin: 0;
	display: flex;
	align-items: center;
	/* margin-right: 345px; */
}

.logo-header {
	font-family: 'Raleway';
	font-weight: 700;
	font-size: 26px;
	line-height: 31px;
	letter-spacing: 0.03em;
	color: var(--first-text-color);
	display: block;
	padding: 25px 0 25px 200px;
	margin-right: 90px;
}

.logo-web {
	font-family: 'Raleway';
	font-weight: 700;
	font-size: 26px;
	line-height: 31px;
	letter-spacing: 0.03em;
	color: var(--second-text-color);
}

.header-item:not(:first-child){
	margin-left: 50px;
}

.nav-link {
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.02em;
	color: var(--first-text-color);
}

.nav-link:hover,
.nav-link:focus {
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.02em;
	color: var(--second-text-color);
}

.contacts-nav{
	display: flex;
	align-items: center;
	margin: 0;
}

.link-contact {
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.02em;
	color: var(--third-text-color);
}

.link-contact:hover,
.link-contact:focus {
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.02em;
	color: var(--second-text-color);
}


/* footer contats*/

address {
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.03em;
	/*color: #FFFFFF;*/
}

.footer-contacts-item {
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.03em;
	color: var(--third-text-color);
	/* color: rgba(255, 255, 255, 0.6); */
}

.footer-contacts-item:hover, 
.footer-contacts-item:focus {
	letter-spacing: 0.03em;
	font-weight: 400;
	font-size: 14px;
	color: var(--second-text-color);
}


.logo-footer {
	font-family: 'Raleway';
	font-weight: 700;
	font-size: 26px;
	line-height: 31px;
	letter-spacing: 0.03em;
	color: var(--first-text-color);
}

/* filter-buttons */

.filter-buttons {
	box-sizing: border-box;
	background: var(--four-text-color);
	border-radius: 4px;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--first-text-color);
}

.filter-buttons:hover,
.filter-buttons:focus{
	background: var(--second-text-color);
	border-radius: 4px;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--four-text-color);
}

address {
	font-style: inherit;
}

/* portofolio.html text */

.projects h2 {
	font-weight: 700;
	font-size: 18px;
	line-height: 36px;
	letter-spacing: 0.06em;
}

.projects p {
	font-weight: 400;
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 0.03em;
}